.idea/.gitignore
.idea/drf_rest_photo_manager.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
photo_manager_project/photo_manager_app/__pycache__/__init__.cpython-310.pyc
photo_manager_project/photo_manager_app/__pycache__/admin.cpython-310.pyc
photo_manager_project/photo_manager_app/__pycache__/apps.cpython-310.pyc
photo_manager_project/photo_manager_app/__pycache__/models.cpython-310.pyc
photo_manager_project/photo_manager_app/__pycache__/serializers.cpython-310.pyc
photo_manager_project/photo_manager_app/__pycache__/views.cpython-310.pyc
photo_manager_project/photo_manager_project/__pycache__/__init__.cpython-310.pyc
photo_manager_project/photo_manager_project/__pycache__/settings.cpython-310.pyc
photo_manager_project/photo_manager_project/__pycache__/urls.cpython-310.pyc
photo_manager_project/photo_manager_project/__pycache__/wsgi.cpython-310.pyc
photo_manager_project/users/__pycache__/__init__.cpython-310.pyc
photo_manager_project/users/__pycache__/admin.cpython-310.pyc
photo_manager_project/users/__pycache__/apps.cpython-310.pyc
photo_manager_project/users/__pycache__/models.cpython-310.pyc
photo_manager_project/users/__pycache__/serializers.cpython-310.pyc
photo_manager_project/users/__pycache__/views.cpython-310.pyc
photo_manager_project/users/migrations/__pycache__/__init__.cpython-310.pyc
photo_manager_project/photo_manager_app/migrations/__pycache__/__init__.cpython-310.pyc
photo_manager_project/photo_manager_app/migrations/__pycache__/0001_initial.cpython-310.pyc
